@font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2'),
       url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('path-to-your-fonts/helvetica-neue.woff2') format('woff2'),
       url('path-to-your-fonts/helvetica-neue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('path-to-your-fonts/arial.woff2') format('woff2'),
       url('path-to-your-fonts/arial.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2'),
         url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Helvetica Neue';
    src: url('path-to-your-fonts/helvetica-neue.woff2') format('woff2'),
         url('path-to-your-fonts/helvetica-neue.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arial';
    src: url('path-to-your-fonts/arial.woff2') format('woff2'),
         url('path-to-your-fonts/arial.woff') format('woff');
    font-weight: bold;
    font-style: normal;